.btn-primary {
    width: 16rem;
    background-color: var(--primary-color) !important;
    border-color: var(--light-gray) !important;
    background-image: none !important;
    border: 0 !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
    background-color: var(--primary-color) !important;
    border-color: var(--light-gray) !important;
    background-image: none !important;
    border: 0 !important;
}

.btn-secondary{
    width: 16rem;
    background-color: var(--bg-color) !important;
    // border-color: var(--primary-color) !important;
    background-image: none !important;
    color: white !important;
    border: 1px solid var(--primary-color)!important;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:visited {
    width: 16rem;
    background-color: var(--bg-color) !important;
    // border-color: var(--primary-color) !important;
    background-image: none !important;
    color: white !important;
    border: 1px solid var(--primary-color)!important;
}

.btn-info {
    background-color: var(--gray) !important;
    border-color: var(--light-gray) !important;
    background-image: none !important;
    border: 0 !important;
    color: var(--light-gray)!important;
}

.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.button-back-override:visited {
    background-color: var(--secondary-color) !important;
    border-color: var(--light-gray) !important;
    background-image: none !important;
    border: 0 !important;
    color: var(--light-gray)!important;
}