.card {
    height: 98%;
    border: none;

    .card-header {
        background-color: var(--bg-color);
        border: none;
        border-bottom: 2px solid var(--primary-color);
    }

    .card-body {
        background-color: var(--bg-color);
        overflow-y: auto;
    }

    .card-footer {
        background-color: var(--bg-color);
        border: none;
    }
}