:root {
    --bg-color: #25274d;
    --bg-color-light: #35386E;
    --primary-color: #2e9cca;
    --primary-color-light: #59B3D9;
    --secondary-color: #296484;
    --light-gray: #BCBDC7;
    --gray: #424461;
}

.app {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    background-color: var(--bg-color);
}

.section-container {
    min-height: 85%;
    background-color: var(--bg-color);
}

h5,
h6,
.text-gray,
.link-gray {
    color: var(--light-gray);
}

.link-gray:hover {
    color: var(--primary-color);
}

.icons {
    color: var(--primary-color);
}

@import './src/styles/navbarStyles.scss';
@import './src/styles/footerStyles.scss';
@import './src/styles/buttonStyles.scss';
@import './src/styles/cardStyles.scss';
@import './src/styles/tableStyles.scss';
@import './src/styles/formStyles.scss';
@import './src/styles/tasksStyles.scss';